.cube {
	-webkit-transform-style: preserve-3d;
	-webkit-animation: spin linear 4s infinite;
	position: relative;
	width: 102px;
	height: 102px;
}

.cube div {
	width: 102px;
	height: 102px;
	line-height: 102px;
	text-align: center;
	border: 7px solid hsla(var(--color-purple), 0.4);
	background: transparent;
	display: block;
	position: absolute;
	box-sizing: border-box;
}

.cube div.top {
	-webkit-transform: rotateX(90deg);
	margin-top: -50px;
}

.cube div.right {
	-webkit-transform: rotateY(90deg);
	margin-left: 50px;
}

.cube div.bottom {
	-webkit-transform: rotateX(-90deg);
	margin-top: 50px;
}

.cube div.left {
	-webkit-transform: rotateY(-90deg);
	margin-left: -50px;
}

.cube div.front {
	-webkit-transform: translateZ(50px);
}

.cube div.back {
	-webkit-transform: translateZ(-50px) rotateX(180deg);
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotateX(-20deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateX(-20deg) rotateY(-360deg);
	}
}
